missing
configure.lineno
configure
Makefile.in
Makefile
compile
missing
depcomp
install-sh
config.status
config.log
*.cache
*.o
*.a
aclocal.m4
.deps
checks.json
ppm2bsb
tif2bsb
bsb2ppm
bsb2png
bsbmem2png
bsbfix
bsb2tif
tests/at_wrap
tests/atconfig
tests/Makefile.in
*.sw?